@media (max-width: 1200px){
    .phone_humber{
        font-size: 18px;
    }
}

@media (max-width: 991px){

    .phone_humber{
        font-size: 28px;
    }

    .logo{
        text-align: center;
    }

    .header_top nav{
        display: none;
    }

    .hamburger_wraper{
        display: inline-block;
    }

    .description{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
    }

    .login{
        display: none;
    }

    .login_w{
        display: block;
    }

    .phone{
        float: none;
        text-align: center;
        background: none;
        margin: 25px 0 25px 0;
        padding: 0;
    }

    .call_back a{
        font-size: 20px;
    }

    #home_3 h2 {
        font-size: 34px
    }
}


@media (max-width: 767px){
    .main_content{
        text-align: center;
    }

    #main{
        padding: 130px 0 100px 0;
    }

    #main h1{
        font-size: 46px;
    }

    .main_sub_title{
        font-size: 26px;
    }

    .main_button .btn_yab{
        width: 400px;
        height: 70px;
        line-height: 70px;
        font-size: 22px;
        margin-bottom: 30px;
    }

    #home_3 .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (max-width: 500px){

    #main h1{
        font-size: 24px;
    }

    .main_sub_title{
        font-size: 20px;
    }

}




