@media (max-width: 1200px){
    .phone_humber{
        font-size: 18px;
    }
}

@media (max-width: 991px){

    .phone_humber{
        font-size: 28px;
    }

    .logo{
        text-align: center;
    }

    .header_top nav{
        display: none;
    }

    .hamburger_wraper{
        display: inline-block;
    }

    .description{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
    }

    .login{
        display: none;
    }

    .login_w{
        display: block;
    }

    .phone{
        float: none;
        text-align: center;
        background: none;
        margin: 25px 0 25px 0;
        padding: 0;
    }

    .call_back a{
        font-size: 20px;
    }
}

@media (max-width: 860px){
    .client_slider .owl-nav button.owl-prev, .com_slider .owl-nav button.owl-prev{
        top: 100%;
        margin-top: 0;
        left: 50%;
        margin-left: -65px;
    }   

    .client_slider .owl-nav button.owl-next, .com_slider .owl-nav button.owl-next{
        top: 100%;
        margin-top: 0;
        right: 50%;
        margin-right: -65px;
    }
}


@media (max-width: 767px){
    .main_bottom{
        text-align: center;
    }

    .main_bottom_text{
        margin-bottom: 15px;
    }

    #main h1{
        font-size: 32px;
    }
}

@media (max-width: 500px){
    .phone{
        width: 100%;
    }

    .call_back{
        width: 100%;
    }

    #main h1{
        font-size: 24px;
    }

    .main_top ul{
        font-size: 14px;
    }

    .obj_check_item_content h5{
        text-align: center;
    }

    .obj_check_item_btn{
        text-align: center;
    }

    .obj_check_item_content {
        padding: 25px;
    }

    .sale_text ul i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .sale_text ul {
        font-size: 16px;
    }

    .bonus .sub_title {
        font-size: 20px;
    }

    .com_slider_item_img{
        width: 75%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .com_slider_item_text{
        width: 100%;
        float: none;
    }

    .product_more_slider_wrap .owl-nav {
        position: unset;
        top: 0;
        right: 0;
        background: transparent;
        width: 0;
        height: 0;
        padding-left: 0;
    }

    .product_more_slider_wrap .owl-nav button.owl-prev{
        left: 50%;
        margin-left: -55px;
    }   

    .product_more_slider_wrap .owl-nav button.owl-next{
        right: 50%;
        margin-right: -55px;
    }

    #product {
        padding-bottom: 40px;
    }
}




